body{
    padding: 100px;
}
.submit-area{
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgb(143, 236, 166);
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: salmon;
}
.withdraw{
    background-color: slateblue;
}
.balance{
    background-color: sandybrown;
}
.status{
    color: white;
    margin: 0 20px;
    padding: 30px;
    border-radius: 10px;
}